/* app css stylesheet */
body { 
    margin: 10px;
}

main {
}

input.clan, input.school, input.name {
    width: 8em;
}
input.experience_points, input.experience_points_earned, input.school_rank, input.insight_rank, input.insight {
    width: 4em;
}

table.rings-table {
   border: 0px solid black;
   width: 40%;   
   margin: 2em auto;
   height: 300px; 
   width: 300px; 
}
table.rings-table td, table.rings-table th {
   font-size: .75em;
   border: 1px solid rgba(200,200,200,0);
   width: 12.5%
}
table.rings-table th {
}
table.rings-table input {
    width: 3em;
    text-align: center;
    background: rbga(0,0,0,128);
}
input.ring_input {
    border: 1px solid rbga(200,200,200,0);;
    background: rbga(200,200,200,0);
}

table.rings-table {
    background: url("images/mountain.png") no-repeat scroll 64px 30px, 
                url("images/air.png") no-repeat scroll 178px 25px, 
                url("images/water.png") no-repeat scroll 16px 137px,
                url("images/fire.png") no-repeat scroll 208px 135px,
                url("images/void.png") no-repeat scroll 119px 176px rgba(0, 0, 0, 0);
}

input.void_box {
    margin:0;
    padding:0;
}

.medium {
    font-size: 0.85em;
    line-height: 1.10em;
    padding: 3px;
}
.small {
    font-size: 0.75em;
    line-height: 0.95em;
    padding: 3px;
}
.x-small {
    font-size: 0.50em;
    line-height: 0.70em;
    padding: 3px;
}

table.stats-table, table.weapons-table {
    margin: 0em;
    width: 100%;
    border: 1px solid black;
}
table.stats-table th, table.weapons-table th {
    text-align: center;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    border: 1px solid white;
    font-size: 80%;
}
table.stats-table th.left, table.weapons-table th.left {
    text-align: center;
    color: #fff;
    background-color: #BFA994;
    font-weight: bold;
    border: 1px solid white;
    font-size: 80%;
}
table.stats-table th span, table.weapons-table th span{
    font-size: 0.5em;
}
table.stats-table td, table.weapons-table td {
    border: 1px solid black;
    font-size: 80%;
}
table.stats-table td input, table.weapons-table td input{
    width: 100%;
    border: 0px solid black;
    text-align: center;
}

label.line {
    width: 15%;
    text-align: right;
}
input.line {
    border: 0px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

section.bushido-stats {
    text-align:center;
    margin: 0;
    padding: 0;
}
section.bushido-stats input.stats-rank{
    text-align:center;
    width: 2em;
}

table.skill-table {
  width:100%;
}
table.skill-table, table.skills-table td, table.skills.table th {
    border: 1px solid #DDD;
    padding: 3px;
}
table.skills-table input, table.skill-table td, table.skills-table td.list {
    border: 0px;
    border-bottom: 1px solid black;
    margin-right: 3px;    
}

.skill_name, .skill_mastery {
    width: 15em;
}
.skill_trait {
    width: 5em;
}
.skill_rank{
    width: 3em;
}
.skill_desc {
    width: 8em;
}


ul.add_skill_list li {
    list-style-type: none;
}

input[name="skill_rank"], input[name="skill_trait"], input[name="skill_roll"] {
    width: 4em;
    text-align: center;
}
input[name="skill_type"], input[name="skill_sub_type"],  {
    width: 10em;
}

table.spell {
    width: 33%;
    margin: 5px;
    border: 1px solid black;    
}
table.spell td {
    border: 1px solid black;    
    padding: 5px;
    font-size: 85%;
}
table.spell th {
    background-color: #BFA994;
    border: 1px solid black;    
    padding: 5px;
    font-size: 85%;
}

td.spell_name {
    width: 40%;
}
td.spell_roll {
    width: 40%;
}

strong { font-weight: bold; }

div.spell-section {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
div.spell-section div {
    border-top: 0px solid black;
    border-left: 1px solid black;
    font-size: 85%;
}
div.spell-section div.header{
    font-size: 85%;
    font-weight: bold;
    background-color: #BFA994;
}


/*****
div.ring {
    background-color: #aaaaff;
    border: 1px solid blue;
}
div.ring input {
    width: 2em;
}
#earth_ring { width: 100px; }
#air_ring { width: 100px; }
#fire_ring { width: 100px; }
#water_ring { width: 100px; }
#void_ring { width: 100px; }
*****/


