<div class="container-fluid">
<div class="row">  
    <div class="col-md-7 col-xs-12">

      <button ng-click="saveCharacter()">Save Changes Locally</button>
      <button ng-click="loadCharacterModal()">Load Character</button>
      <button ng-click="show()">Show a Modal</button>
      <br/>

      <div class="info">
        <label class="line">Clan</label><input class="line clan" class="clan" name="clan" type="text" ng-click="showClansListModal()" ng-model="character.clan.name"/>
        <label class="line">Insight Rank</label><input class="line insight_rank" name="school" type="number" ng-model="character.insight_rank"/>
        <label class="line">Experience Points</label><input class="line experience_points" name="experience_points" type="number" ng-model="character.experience_points"/>
	    <br/>
	    <label class="line">Name</label>
	    <input class="line family" class="family" name="family" type="text" ng-click="showFamiliesListModal()" ng-model="character.family.name"/>
	    <input class="line name" class="name" name="name" type="text" ng-model="character.name"/>
        <label class="line">Total Earned</label><input class="line experience_points_earned" name="experience_points_earned" type="number" ng-model="character.experience_points_earned"><br/>
        <label class="line">School</label><input class="line school" name="school" type="text" ng-click="showSchoolsListModal()" ng-model="character.school.name"/>
        <label class="line">Insight</label><input class="line insight" name="insight" type="number" ng-model="character.insight"/><span class="small">(Rings x 10 + skills)</span><br/>
      </div>

      <!-- div class="row">
      <div id="earth_ring" class="ring">
        <div class="c ol-xs-3 c ol-xs-offset-3">
          <div class="row label center">Earth</div>
          <div class="row right"><label for="stamina">Stamina</label><input name="stamina" type="number" min="0" class="ring_input" ng-model="character.stamina" ng-change="updateEarth('stamina',character.stamina)"></div>
          <div class="row right"><label for="willpower">Willpower</label><input name="willpower" type="number" min="0" class="ring_input" ng-model="character.willpower" ng-change="updateEarth('willpower',character.willpower)"></div>
          <div class="row right"><input name="earth_ring" type="number" min="0" class="ring_input" ng-model="character.earth" ng-change="updateEarthRing(character.earth)"></div>
        </div>
      </div>

      <div id="air_ring" class="ring">
        <div class="c ol-xs-3 c ol-xs-offset-2">
          <div class="row label center">Air</div>
          <div class="row"><input name="reflexes" type="number" min="0" class="ring_input" ng-model="character.reflexes" ng-change="updateAir('reflexes',character.reflexes)"><label for="reflexes">Reflexes</label></div>
          <div class="row"><input name="awareness" type="number" min="0" class="ring_input" ng-model="character.awareness" ng-change="updateAir('awareness',character.awareness)"><label for="awareness">Awareness</label></div>
          <div class="row"><input name="air_ring" type="number" min="0" class="ring_input" ng-model="character.air" ng-change="updateAirRing(character.air)"></div>
        </div>
      </div>
      </div>

      <div class="row">
        <div id="water_ring" class="ring">
          <div class="c ol-xs-3 c ol-xs-offset-1">
            <div class="row right"><input name="water_ring" type="number" min="0" class="ring_input" ng-model="character.water" ng-change="updateWaterRing(character.water)"></div>
            <div class="row right"><label for="strength">Strength</label><input name="strength" type="number" min="0" class="ring_input" ng-model="character.strength" ng-change="updateWater('strength',character.strength)"></div>
            <div class="row right"><label for="perception">Perception</label><input name="perception" type="number" min="0" class="ring_input" ng-model="character.perception" ng-change="updateWater('perception',character.perception)"></div>
            <div class="row label center">Water</div>
          </div>
        </div>
  
        <div id="void_ring" class="ring">
          <div class="c ol-xs-3 c ol-xs-offset-2">
            <div class="row center"><input name="void_ring" type="number" min="0" class="ring_input" ng-model="character.void" ng-change="updateVoid('void',character.void)"></div>
            <div class="row label center">Void</div>
            <div class="row center">Void Slots</div>
          </div>
        </div>

        <div id="fire_ring" class="ring">
          <div class="c ol-xs-3 c ol-xs-offset-6">
            <div class="row left"><input name="fire_ring" type="number" min="0" class="ring_input" ng-model="character.fire" ng-change="updateFileRing(character.fire)"></div>
            <div class="row left"><input name="agility" type="number" min="0" class="ring_input" ng-model="character.agility" ng-change="updateFire('agility',character.agility)"><label for="agility">Agility</label></div>
            <div class="row left"><input name="intelligence" type="number" min="0" class="ring_input" ng-model="character.intelligence" ng-change="updateFire('intelligence',character.intelligence)"><label for="intelligence">Intelligence</label></div>
            <div class="row label center">Fire</div>
          </div>
        </div>
      </div -->


      <table class="rings-table">
        <tr>
            <th colspan="1" class="center" >EARTH</th>
            <td colspan="9">&nbsp;</td>
            <th colspan="1" class="center" >AIR</th>
        </tr>
        <tr>
            <td colspan="1" class="left">Stamina</td>
            <td colspan="1"><input name="stamina" type="number" min="0" class="ring_input" ng-model="character.stamina" ng-change="updateEarth('stamina',character.stamina)"></td>
            <td colspan="7"></td>
            <td colspan="1"><input name="reflexes" type="number" min="0" class="ring_input" ng-model="character.reflexes" ng-change="updateAir('reflexes',character.reflexes)"></td>
            <td colspan="1" class="right">Reflexes</td>
        </tr>
        <tr>
            <td colspan="1" class="left">Willpower</td>
            <td colspan="1"><input name="willpower" type="number" min="0" class="ring_input" ng-model="character.willpower" ng-change="updateEarth('willpower',character.willpower)"></td>
            <td colspan="7"></td>
            <td colspan="1"><input name="awareness" type="number" min="0" class="ring_input" ng-model="character.awareness" ng-change="updateAir('awareness',character.awareness)"></td>
            <td colspan="1" class="right">Awareness</td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="1"><input name="earth_ring" type="number" min="0" class="ring_input" ng-model="character.earth" ng-change="updateEarthRing(character.earth)"></td>
            <td colspan="1"></td>
            <td colspan="1"><input name="air_ring" type="number" min="0" class="ring_input" ng-model="character.air" ng-change="updateAirRing(character.air)"></td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="11">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="1"><input name="water_ring" type="number" min="0" class="ring_input" ng-model="character.water" ng-change="updateWaterRing(character.water)"></td>
            <td colspan="3"></td>
            <td colspan="1"><input name="fire_ring" type="number" min="0" class="ring_input" ng-model="character.fire" ng-change="updateFileRing(character.fire)"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="1" class="left">Strength</td>
            <td colspan="1"><input name="strength" type="number" min="0" class="ring_input" ng-model="character.strength" ng-change="updateWater('strength',character.strength)"></td>
            <td colspan="3"></td>
            <td colspan="1"><input name="void_ring" type="number" min="0" class="ring_input" ng-model="character.void" ng-change="updateVoid('void',character.void)"></td>
            <td colspan="3"></td>
            <td colspan="1"><input name="agility" type="number" min="0" class="ring_input" ng-model="character.agility" ng-change="updateFire('agility',character.agility)"></td>
            <td colspan="1" class="right">Agility</td>
        </tr>
        <tr>
            <td colspan="1">Perception</td>
            <td colspan="1"><input name="perception" type="number" min="0" class="ring_input" ng-model="character.perception" ng-change="updateWater('perception',character.perception)"></td>
            <td colspan="3"></td>
            <th colspan="1" class="center" >VOID</th>
            <td colspan="3"></td>
            <td colspan="1"><input name="intelligence" type="number" min="0" class="ring_input" ng-model="character.intelligence" ng-change="updateFire('intelligence',character.intelligence)"></td>
            <td colspan="1" class="right">Inteligence</td>
        </tr>
        <tr>
            <th colspan="1" class="center">WATER</th>
            <td colspan="9"></td>
            <th colspan="1" class="center">FIRE</th>
        </tr>
        <tr>
            <td class="center" colspan="11" style="margin: 0 auto; text-align:center;">
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 1"/>
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 2"/>
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 3"/>
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 4"/>
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 5"/>
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 6"/>
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 7"/>
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 8"/>
                <input type="checkbox" name="void_box" class="void_box" ng-show="character.void >= 9"/>
            </td>
        </tr>
      </table>

      <div class="" ng-controller="SkillsController">
        <table class="skills-table">
          <tr>
		  <th class="skill_name">Skill Name</th><th class="skill_rank">Rank</th><th class="skill_trait">Trait</th><th class="skill_roll">Roll</th><th class="skill_emphasis">Emphasis</th><th class="skill_mastery">Mastery Abilities</th><th class="skill_desc">Desc.</th><th class="skill_button"></th>
          </tr>
          <tr ng-repeat="each in character.skills track by $index" ng-show="character.skills">
              <!-- td class="skill_name">{{$index}}-{{each.id}}:{{ getSkill(each.id,'type')}} {{ getSkill(each.id,'sub_type')}} </td-->
              <td class="skill_name">{{ getSkill(each.id,'type')}} {{ getSkill(each.id,'sub_type')}} </td>
              <td class="skill_rank"><input name="skill_rank" ng-model="character.skills[$index].rank" type="number" min="0" ng-click="updateSkillRank(each.id)"/></td>
              <td>{{getSkill(each.id,'trait')}}</td>
              <td class="skill_roll">{{each.roll}}</td>
              <td><a href="" class="small" ng-hide="each.emphasis || getSkill(each.id,'emphases') == null" ng-show="getSkill(each.id,'emphases')" ng-click="toggleShowEmphasesList(each.id)">Add</a><span ng-show="each.emphasis">{{each.emphasis}}</span></td>
              <td class="skill_mastery" style="line-height: 60%"><span class="small" ng-bind-html="each.mastery"></span></td>
	          <td class="skill_desc" style="line-height: 60%"><span class="small">{{getSkill(each.id,'description')}}</span></td>
	          <td class="skill_button"><button ng-click="removeSkill(each.id)"><span class="glyphhicon glyphicons-remove">X</span></button></td>
          </tr>
          <tr ng-hide="showEmphasesList">
              <td colspan="8"><a href="" ng-click="toggleShowSkillsList()">Add a Skill</a>              
                <div ng-show="showSkillsList">
                  <label for="search">Search:</label><input name="search" type="search" ng-model="skillSearchText"/>
                  <!-- label for="type_high">High:</label><input name="type_high" type="radio" value="high" ng-model="skillSearch.type"/>
                  <label for="type_bugei">Bugei:</label><input name="type_bugei" type="radio" value="bugei" ng-model="skillSearch.type"/>
                  <label for="type_merchant">Merchant:</label><input name="type_merchant" value="bugei" type="radio" ng-model="skillSearch.type"/>
                  <label for="type_low">Low:</label><input name="type_low" type="radio" value="low" ng-model="skillSearch.type"/ -->
                </div>
              </td>
          </tr>
          <tr ng-show="showEmphasesList"> 
              <td colspan="4">Emphasis List</td>
              <td colspan="3">
              <ul class="add_skill_list">
                  <li ng-repeat="emph in emphasesList">                      
                  <a href="" ng-click="addEmphasis($index)">{{emph}}</a>
                  <li>
              </ul>
            </td>
          <tr ng-show="showSkillsList"> 
            <td colspan="7">
              <ul class="add_skill_list">                  
                  <li ng-repeat="each in skillsMasterList | filter:skillSearchText">
                      <a href="" ng-click="addSkill(each.id)">{{each.type}} {{each.sub_type}}</a>
                  <li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="">
        <table class="weapons-table">
          <tr>
            <th colspan="2">Weapon One</th><th colspan="2">Weapon Two</th>
            
            <th colspan="4" class="border-wide-left">Arrows</th>
          </tr>
          <tr>
              <th class="left">Type</th><td><input name="weapon_one_type" type="text"/></td>
              <th class="left">Type</th><td><input name="weapon_two_type" type="text"/></td>

              <th class="left border-wide-left">Type</th><th class="left">Damage</th><th class="left">Quantity</th>
          </tr>
          <tr>
              <th class="left">Attack Roll</th><td><input name="weapon_one_attack_roll" type="text"/></td>
              <th class="left">Attack Roll</th><td><input name="weapon_two_attack_roll" type="text"/></td>
              
              <td class="border-wide-left"><input name="arrows_one_type" type="text"/></td><td><input name="arrows_one_damage" type="text"/></td><td><input name="arrows_one_quant" type="number"/></td>
          </tr>
          <tr>
              <th class="left">Damage Roll</th><td><input name="weapon_one_damage_roll" type="text"/></td>
              <th class="left">Damage Roll</th><td><input name="weapon_two_damage_roll" type="text"/></td>
              
              <td class="border-wide-left"><input name="arrows_two_type" type="text"/></td><td><input name="arrows_two_damage" type="text"/></td><td><input name="arrows_two_quant" type="number"/></td>
          </tr>
          <tr>
              <th class="left">Bonus</th><td><input name="weapon_one_bonus" type="text"/></td>
              <th class="left">Bonus</th><td><input name="weapon_two_bonus" type="text"/></td>
              
              <td class="border-wide-left"><input name="arrows_three_type" type="text"/></td><td><input name="arrows_three_damage" type="text"/></td><td><input name="arrows_three_quant" type="number"/></td>
          </tr>
          <tr>
              <th class="left">Notes</th><td><input name="weapon_one_notes" type="text"/></td>
              <th class="left">Notes</th><td><input name="weapon_two_notes" type="text"/></td>
              
              <td class="border-wide-left"><input name="arrows_four_type" type="text"/></td><td><input name="arrows_four_damage" type="text"/></td><td><input name="arrows_four_quant" type="number"/></td>
          </tr>
        </table>
    </div>
</div>

<div="column">
   <aside class="col-md-3 col-xs-12">
     <section class="bushido-stats">
       <h4>HONOR</h4>
       <input type="number" name="honor-rank" min="0" class="stats-rank" ng-model="character.honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <input type="checkbox" name="honor"/>
       <h4>GLORY</h4>
       <input type="number" name="glory-rank" min="0" class="stats-rank" ng-model="character.glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <input type="checkbox" name="glory"/>
       <h4>STATUS</h4>
       <input type="number" name="status-rank" min="0" class="stats-rank" ng-model="character.status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <input type="checkbox" name="status"/>
       <h4>SHADOWLAND TAINT</h4>
       <input type="number" name="taint-rank" min="0" class="stats-rank" ng-model="character.taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
       <input type="checkbox" name="taint"/>
     </section>

     <table class="stats-table">
       <tr>
         <th colspan="4">Initiative</th>
       </tr>
       <tr>
           <th class="left" colspan="2">Insight Rank / Reflexes</td><td colspan="2"><input name="stats_initiate" ng-model="character.initiative" type="text"/></td>
       </tr>
       <tr>
           <th class="left" colspan="2">Modifiers</td><td colspan="2"><input name="stats_inititiative_modifiers" type="text"/></td>
       </tr>
       <tr>
           <th class="left" colspan="2">Current Intiative</td><td colspan="2"><input name="stats_initiative" ng-model="character.initiative" type="text"/></td>
       </tr>
       <tr>
         <th colspan="4">Armor Tn</th>
       </tr>
       <tr>
           <th class="left" colspan="2">TN Bonus</th><td colspan="2"><input name="stats_tn_bonus" ng-model="character.armor_tn" type="number"/></td>
       </tr>
       <tr>
           <th class="left" colspan="2">Quality</th><td colspan="2"><input name="stats_quality" type="text"/></td>
       </tr>
       <tr>
           <th class="left" colspan="2">Notes</th><td colspan="2"><input name="stats_notes" type="text"/></td>
       </tr>
       <tr>
         <th colspan="4">Wounds</th>
       </tr>
       <tr>
           <th class="left" colspan="2">Earth x2 per level<br/>Earth x5 for Healthy</th><td colspan="2"><input name="stats_wounds" ng-model="character.wounds" type="text"/></td>
       </tr>
       <tr>
         <th>Wound Level</th><th>Penalties</th><th>Total</th><th>Current</th>
       </tr>
       <tr>
           <th class="left">Healthy (+0)</th><td><input name="stats_healthy_penalties" type="text"/></td><td><input name="stats_healthy_total" type="text"/></td><td><input name="stats_health_current" type="text"/></td>
       </tr>
       <tr>
           <th class="left">Nicked (+3)</th><td><input name="stats_nicked_penalties" type="text"/></td><td><input name="stats_nicked_total" type="text"/></td><td><input name="stats_nicked_current" type="text"/></td>
       </tr>
       <tr>
           <th class="left">Grazed (+5)</th><td><input name="stats_grazed_penalties" type="text"/></td><td><input name="stats_grazed_total" type="text"/></td><td><input name="stats_grazed_current" type="text"/></td>
       </tr>
       <tr>
           <th class="left">Hurt (+10)</th><td><input name="stats_hurt_penalties" type="text"/></td><td><input name="stats_hurt_total" type="text"/></td><td><input name="stats_hurt_current" type="text"/></td>
       </tr>
       <tr>
           <th class="left">Injured (+15)</th><td><input name="stats_injured_penalties" type="text"/></td><td><input name="stats_injured_total" type="text"/></td><td><input name="stats_injured_current" type="text"/></td>
       </tr>
       <tr>
           <th class="left">Crippled (+20)</th><td><input name="stats_crippled_penalties" type="text"/></td><td><input name="stats_crippled_total" type="text"/></td><td><input name="stats_crippled_current" type="text"/></td>
       </tr>
       <tr>
           <th class="left">Down (+40)<br/><span>Must Spend Void to act</span></th><td><input name="stats_down_penalties" type="text"/></td><td><input name="stats_down_total" type="text"/></td><td><input name="stats_down_current" type="text"/></td>
       </tr>
       <tr>
           <th class="left">Out<br/><span>Cannot Act</span></th><td><input name="stats_out_penalties" type="text"/></td><td><input name="stats_out_total" type="text"/></td><td><input name="stats_out_current" type="text"/></td>
       </tr>
       <tr>
           <th colspan="4">Rate Of Wound Heal</th>
       </tr>
       <tr>
           <th class="left" colspan="2">Stamina x2 + Insight Rank</th><td colspan="2"><input name="stats_stamima_x2_+_insight_rank" ng-model="character.healing" type="number"/></td>
       </tr>
       <tr>
           <th class="left" colspan="2">Modifiers</th><td colspan="2"><input name="stats_heal_modifiers" ng-model="character.healing_modifiers" type="number"/></td>
       </tr>
       <tr>
           <th class="left" colspan="2">Current Rate</th><td colspan="2"><input name="stats_current_heal_rate" ng-model="character.current_heal_rate" type="text"/></td>
       </tr>
     </table>
    </div>
  </aside>
</div>
</div>




