<div class="modal-dialog" n g-controller="CharacterController">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Load Character</h4>
    </div>
    <div class="modal-body">
      <h4>Choose Your Character</h4>
      <h5>Test Controller:{{ test }}</h5>
      <h5>Saved Chars:{{saved_characters_array}}</h5>
      <ul>
        <li ng-repeat="character in saved_characters_array">
          <a ng-click="loadCharacter($index)">{{$index}} {{character.name}} {{character.clan}} {{character.school}}</a>
        </li>
      </ul>
      Items
      <ul>
        <li ng-repeat="item in items">
          <a ng-click="selected.item = item">{{$index}} {{item}}</a>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
