  <header>
      <h1>Legend of the Five Rings Character Builder</h1>
  </header>

  <section>
      <header><h2>How To Use</h2></header>
      <ol>
          <li><a href="" ng-click="showClansListModal()">Choose your Clan</a> <span ng-if="character.clan.name"> : {{character.clan.name}}</span></li>
          <li><a href="" ng-click="showFamiliesListModal(null,character.clan.name)">Choose your Family</a> <span ng-if="character.family.name"> : {{character.family.name}}</span></li>
          <li><a href="" ng-click="showSchoolsListModal(null,character.clan.name)">Choose your School</a> <span ng-if="character.school.name"> : {{character.school.name}}</span>         
            <h5 ng-show="character.skills.length > 0">Skills:</h5>
            <ul ng-show="character.skills.length > 0">
                <li ng-repeat="each in character.skills track by $index" ng-show="character.skills">{{getSkill(each.id,'type')}} {{ getSkill(each.id,'sub_type')}}</li>
            </ul>
          </li>
          <li>Add your <a href="" ng-click="showAdvantagesListModal()">Advantages</a>
            <ul ng-show="character.advantages.length > 0">
                <li ng-repeat="a in character.advantages">{{a.name}} ({{a.subtype}}) : Cost {{a.points * -1}} : {{a.notes}}</li>
            </ul>
          </li>
          <li>Add your <a href="" ng-click="showDisadvantagesListModal()">Disadvantages</a>
             <ul ng-show="character.disadvantages.length > 0">
                 <li ng-repeat="d in character.disadvantages">{{d.name}} ({{d.subtype}}) : Bonus {{d.points * -1}} : {{d.notes}}</li>
             </ul>
          </li>
          <li>Go to the <a href="#character">Character Sheet</a></li>
          <li>Choose your Name</li>
          <li>Update your Rings</li>
          <li>Add your Skills and Emphases</li>
          <li>Add your Armor</li>
          <li>Add your Weapons and Arrows</li>
          <li>If you are a Shugenja, go to the <a href="#spell">Spells Sheet</a> and add your spells</li>
          <!-- li>If you use Kihos, go to the <a href="#kiho">Kihos Sheet</a> and add your kihos</li -->
      </ol>
  </section>

