<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cance()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Select A Point Value</h2>
            </div>
            <div class="modal-body">
                <h4>Select a Point Value</h4>
                <h4 ng-if="modalMesage">{{modalMessage}}</h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="point in pointsMasterList | filter:filterBy"><a href="" ng-click="selectPoints(point)">{{point}}</a></li>
                </ul>	
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="done()" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
