
  <header>
      <h1>Spells</h1>
  </header>
 
  <section>
      <h4>Spell Affinity</h4>
      <label for="spell_affinity">Air:</label>
      <input type="checkbox" name="spell_affinity" ng-model="character.spell_affinity.air" value="air"/>
      <label for="spell_affinity">Earth:</label>
      <input type="checkbox" name="spell_affinity" ng-model="character.spell_affinity.earth" value="earth"/>
      <label for="spell_affinity">Fire:</label>
      <input type="checkbox" name="spell_affinity" ng-model="character.spell_affinity.fire" value="fire"/>
      <label for="spell_affinity">Water:</label>
      <input type="checkbox" name="spell_affinity" ng-model="character.spell_affinity.water" value="water"/>
      <label for="spell_affinity">Void:</label>
      <input type="checkbox" name="spell_affinity" ng-model="character.spell_affinity.void" value="void"/>
  </section>
 
  <section>
      <h4>Spell Deficiency</h4>
      <label for="spell_deficiency">Air:</label>
      <input type="checkbox" name="spell_deficiency" ng-model="character.spell_deficiency.air" value="air"/>
      <label for="spell_deficiency">Earth:</label>
      <input type="checkbox" name="spell_deficiency" ng-model="character.spell_deficiency.earth" value="earth"/>
      <label for="spell_deficiency">Fire:</label>
      <input type="checkbox" name="spell_deficiency" ng-model="character.spell_deficiency.fire" value="fire"/>
      <label for="spell_deficiency">Water:</label>
      <input type="checkbox" name="spell_deficiency" ng-model="character.spell_deficiency.water" value="water"/>
      <label for="spell_deficiency">Void:</label>
      <input type="checkbox" name="spell_deficiency" ng-model="character.spell_deficiency.void" value="void"/>
  </section>

  <a href="" ng-click="showSpellsListModal()">Add Spell</a>

  <h1>Known Spells</h1>
  <div class="container-fluid"> 
    <div class="spell-section" ng-class="" ng-repeat="each in character.spells">
      <div class="row">
          <div class="col-xs-2 header right">Name</div>
          <div class="col-xs-10 value"><strong>{{getSpell(each.id,'name')}}</strong> <span ng-if="getSpell(each.id,'type')">({{getSpell(each.id,'type')}})</span></div>
      </div>
      <div class="row">
          <div class="col-xs-2 header right">Lvl</div>
          <div class="col-xs-4 value center"><strong>{{getSpell(each.id,'level')}}</strong></div>
          <div class="col-xs-2 header right">Roll</div>
          <div class="col-xs-4 value center">{{getSpell(each.id,'roll')}}</div>
      </div>
      <div class="row">
          <div class="col-xs-2 header right">Ring</div>
          <div class="col-xs-4 value center">{{getSpell(each.id,'ring')}}</div>
          <div class="col-xs-2 header right">Duration</div>
          <div class="col-xs-4 value center">{{getSpell(each.id,'duration')}}</div>
      </div>
      <div class="row">
          <div class="col-xs-2 header right">Area</div>
          <div class="col-xs-4 value center">{{getSpell(each.id,'area_of_affect')}}</div>
          <div class="col-xs-2 header right">Range</div>
          <div class="col-xs-4 value center">{{getSpell(each.id,'range')}}</div>
      </div>
      <div class="row">
          <div class="col-xs-2 header right">Raises</div>
          <div class="col-xs-10 value"><span ng-bind-html="getSpell(each.id,'raises')"></span></div>
      </div>
      <div class="row">
          <div class="col-xs-2 header right">Effect</div>
          <div class="col-xs-10 value"><span ng-bind-html="getSpell(each.id,'description')"></span></div>
      </div>
    </div>
  </div>
