  <header>
      <h1>Spells</h1>
  </header>

  <p>Updated Spells Page</p>
  <a href="" ng-click="toggleShowSpellsList()">Add Spell</a>
  <div ng-show="showSpellsList">
    <label>Search</label><input name="spellSearchFilter.text" ng-model="spellSearchFilter.$" type="search"/>
    <label>Level</label><input name="spellSearchFilter.level" ng-model="spellSearchFilter.level" type="number" min='1' max='6'/>
    <label>Ring</label><input name="spellSearchFilter.ring" ng-model="spellSearchFilter.ring" type="text"/>
    <ul>
      <li ng-repeat="spell in spellsMasterList | filter:spellSearchFilter">
        <a href="" ng-click="addSpell(spell.id)">{{spell.name}} - Level:{{spell.level}}</a>
        <ul>
          <li>Ring {{spell.ring}}</li>
          <li><span ng-bind-html="spell.description"></span></li>
         </ul>
      </li>
    </ul>
  </div>

  <h1>Known Spells</h1>
  <div ng-repeat="each in character.spells">
      <div class="spell_tables">
          <table class="spell">
            <tr>
                 <th>Name</th>
		 <td class="spell_name">{{getSpell(each.id,'name')}} ({{getSpell(each.id,'type')}})</td>
                 <th>M.Lvl.</th>
                 <td class="center">{{getSpell(each.id,'level')}}</td>
                 <th>Roll</th>
                 <td class="center">{{getSpell(each.id,'roll')}}</td>
            </tr>
            <tr>
                 <th>Element</th>
                 <td>{{getSpell(each.id,'ring')}}</td>
                 <th>Duration</th>
                 <td class="center" colspan="3">{{getSpell(each.id,'duration')}}</td>
            </tr>
            <tr>
                 <th>Area</th>
                 <td>{{getSpell(each.id,'area_of_affect')}}</td>
                 <th>Range</th>
                 <td class="center" colspan="3">{{getSpell(each.id,'range')}}</td>
            </tr>
            <tr>
                 <th>Raises</th>
                 <td colspan="5" class="small"> 
                     <span ng-bind-html="getSpell(each.id,'raises')"></span>')
                 </td>
            </tr>
            <tr>
                 <th rowspan=3>Effect</th>
            </tr>
            <tr>
                 <td rowspan=3 colspan=5 class="small"> 
                     <span ng-bind-html="getSpell(each.id,'description')"></span>')
                 </td>
            </tr>
          </table>
      </div>
  </div>
